.t-white {
  color: #fff;
}
view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
  box-sizing: border-box;
}
image {
  width: 100%;
}
.page {
  background-color: #f1f1f1;
}
.bg-gradual-blue {
  background-image: linear-gradient(45deg, #0081ff, #1cbbb4);
}
