$color-primary: #1890ff !default; // 全局主色
$color-link: #1890ff !default; // 链接色
$color-success: #52c41a !default; // 成功色
$color-warning: #faad14 !default; // 警告色
$color-error: #f5222d !default; // 错误色
$color-info: #78a4fa !default;
$color-text: #333333 !default;
